.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    width: 100%;
    background-color: white;
    z-index: 1;
    &__info {
        min-height: 100px;
        width: 100%;
        margin-bottom: 15px;
        text-align: left;
        .price {
            margin-top: 5px;
            font-weight: 600;
        }
        &--rating {
            display: flex;
        }
    }
    img {
        max-height: 200px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 15px;
    }
    button {
        background-color: #f0c14b;
        margin-top: 10px;
        padding: 2px 8px;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
    }
}
